NugetUtilities.UpdateReleaseNotes/obj/
NugetUtilities.UpdateVersion/bin/
NugetUtilities.UpdateVersion/obj/
NugetUtilities.UpdateReleaseNotes/bin/
NugetUtilities.Shared/obj/
NugetUtilities.Shared/bin/
