NugetUtilities.UpdateReleaseNotes/obj/
NugetUtilities.UpdateVersion/bin/
NugetUtilities.UpdateVersion/obj/
NugetUtilities.UpdateReleaseNotes/bin/
NugetUtilities.Shared/obj/
NugetUtilities.Shared/bin/
*.suo
*.nupkg
packages/
NugetUtilities.UpdateAssemblyInfo/bin/
NugetUtilities.UpdateAssemblyInfo/obj/
*.user
_ReSharper.Caches/
.vs/
